DL { margin: 0; }

/* legend */
.legend {
	border: 1px solid #000;
	box-shadow: 0 0 1em #999;
	margin: 1em 1em 1em 0;
	float: left;
	text-align: center;
	width: 8em;
	}
.legend CODE {
	float: left;
	line-height: 1.75em;
	width: 5em;
	}
.legend DD {
	margin: 0;
	padding: .2em .5em;
	}

/* required *//* table of content */
.required,
.toc {
	float: left;
	margin: .5em 0 1em .5em;
	}
.toc UL,
.required UL {
	list-style-type: none;
	margin: 0;
	padding: 0 1em 1em;
	}


/* test */
H1,H2,H3 {
    text-shadow: 0 0 2px #ccc;
	margin: 0;
	padding: 0;
	}
.desc {
	margin: .5em;
	}
.test {
	background: #FFE;
	border: 1px solid #000;
	box-shadow: 0 0 1em #999;
	display: inline-block;
	margin: 0 1em 1em 1em ;
	padding: 0.25em;
	vertical-align: top;
	}
	.test > H2 { padding-left: .25em; }
	.test > .desc {}
	.assertions {
		background: #FFC;
		border: 1px solid #aaa;
		box-shadow: 0 0 .25em #999;
		display: inline-block;
		margin: .25em;
		padding: .25em;
		vertical-align: top;
		}
		.assertions > H3 { padding-left: .25em; }
		.assertions > .desc {}
		.value {
			background: #FFF;
			box-shadow: inset 0 0 .25em #999;
			margin: 0 0 .25em 0;
			border: 1px solid #ccc;
			padding: 0 1em;
			}
		.assertions DT {
			border-radius: 1em;
			margin-top: 1px;
			padding: 0 1em;
			}
	
/* result */
.red { background: red; }
.orange { background: orange; }
.green { background: darkgreen; color:#FFF; }

/* */
LI.preambule  {
	font-style: italic;
	margin: .5em 0 0 -1em;
	}
DIV.preambule,
HR {
	/* visibility: hidden; */
	background: #FFF;
	border: none;
	box-shadow: none;
	margin: 1em 0;
	width: 100%;
	}
.preambule H2  {
    letter-spacing: 5px;
    text-shadow: 0 0 4px #ccc,  0 0 2px #FFC;
	margin: 1em 0;
}